---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Milan, also known as e-402
      <br>
      My primary tools of choice include:
      <ul class="list-disc list-inside">
        <li><a href=https://e-402.github.io/blog/github/ target="_blank">Github</a></li>
        <li><a href=https://e-402.github.io/blog/vs-code/ target="_blank">VsCode</a></li>
        <li><a href=https://e-402.github.io/blog/unity/ target="_blank">Unity</a></li>
        <li><a href=https://e-402.github.io/blog/astro/ target="_blank">Astro</a></li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I like coding, it's great ! 
      It helps understand a lot of things 
      and is very interesting !
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
