---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Milan, also known as e-402
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>Github</li>
        <li>VsCode</li>
        <li>Unity</li>
        <li>Astro</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I like coding, it's great ! 
      It helps understanding a lot of things 
      and will be very interesting in the future
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
