---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
import { Image } from 'astro:assets';
import treeTheme from '../components/treeTheme.jpg';
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Game available in this website:
      </h1>
    </header>
    <div class="flex flex-col mt-4 w-fit">
      <ul>
        <li>
          <a href={LINKS.game} target="_blank">Click me !</a>
          <Image src={treeTheme} alt="the backround of the game" />
        </li>
      </ul>
    </div>
  </div>
</Card>
