---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
import { Image } from 'astro:assets';
import treeTheme from '../components/treeTheme.jpg';
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Wanna play a game ?
      </h1>
    </header>
    <div class="flex flex-col mt-4 w-fit">
      <ul>
        <li>
          <a href={LINKS.game} target="_blank">Click here
          <Image
          src={treeTheme}
          alt="the background of the game"
          width=  "200"
          height="150"
         />
         </a>
        </li>
      </ul>
    </div>
  </div>
</Card>
